:root{
    --bg1 : #9b59b6;
    --bg2 : #3494db;
    --bg3 : #07E1EC;
}
* {
    margin: 0;
    padding: 0;
}
body {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vh;
     height: 100vh;
     text-align: center;
}
/* .container {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1), var(--bg2));
} */

.container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(var(--bg1), var(--bg2));
    transition: 0.3s;
    overflow: hidden;
}
.container:hover {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1), var(--bg2));
}
.container img {
    width: 200px;
    height:  200px;
    border-radius: 50%;
    border:  5px solid #fff;
    margin : 20px auto;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
/* .container img:active{
    width: 350px;
    height:  450px;
    margin: 0;
    border:  5px solid #fff;
    border-radius: 10px;
} */
/* .container img {
    width: 350px;
    height:  450px;
    margin: 0;
    border:  5px solid #fff;
    border-radius: 10px;
} */
.container h2 {
    color: #fff;
}
.container p {
    color: #fff;
    margin:  0 30px 12px;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 12px;
}
.btn-container button {
    height: 40px;
    width: 80px;
    border:  none;
    margin-right: 12px;
    border-radius: 5px;
    column-count: #333;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}
.icon-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-60px);
    opacity: 0;
    transition: 0,3s;
}
.container:hover .icon-social{
    transform:  translate(0px);
    opacity: 1;
}
.icon-social a {
    padding: 12px;
    color: var(--bg1);
    background: #fff;
    border-radius: 50%;
    margin:  5px 0 0 12px;
}



